@import "../../styles/colors.scss";

.sectionHeader {
  background-color: $section-header;
  padding: 10px;
  border-radius: 6px;

  .sectionTitle {
    display: flex;
    align-items: center;
    font-weight: bold;
    justify-content: flex-start;
  }

  .sectionLinks {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}

.touchableRow {
  cursor: pointer;
  padding: 10px 0;
  border-bottom: 1px solid $item-border;
  &:hover {
    background-color: transparentize($color: #000000, $amount: 0.95);
  }
}
