@import "../../styles/colors.scss";

.touchableRow {
  cursor: pointer;
  padding: 10px 0;
  border-bottom: 1px solid $item-border;
  &:hover {
    background-color: transparentize($color: #000000, $amount: 0.95);
  }
}
