$border: #a0a0a0;
$item-border: #e4e4e4;
$dark-background: #001529;
$text: transparentize(
  $color: #fff,
  $amount: 0.35,
);
$background: #f5f5f5;
$light-grey: #d6d6d6;
$menuBG: #dee4ea;
$siderBG: #dee4ea;

$label: #8b9ba8;
$section-header: #f0f4f8;

$selectedBg: #e6feff;
$selectedColor: #18ccf7;
