@import "./colors.scss";

html,
body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

body {
  max-height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  header,
  footer {
    overflow: hidden;
    // background-color: lightblue;
    // flex: auto;
  }
  main {
    margin: 0;
    flex: 1;
    overflow: auto;
    // padding: 20px;
    div[data-nextjs-scroll-focus-boundary] {
      height: 100%;
    }

    .touchable {
      cursor: pointer;
      &:hover {
        // transform: scale(1.01);
        background-color: darken($color: $background, $amount: 0.1);
      }
    }
  }
}
