.avatarContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
  :global(.ant-typography) {
    color: inherit;
  }
  .nameContainer {
    text-align: center;
    :global(.ant-typography) {
      max-width: 150px;
      text-overflow: ellipsis;
      overflow: hidden;
    }
    padding-right: 10px;
  }
}
