.note {
  padding: 10px;
  border-radius: 3px;
  cursor: pointer;
  position: relative;
  .title {
    font-style: italic;
    color: grey;
  }

  //   .deleteNote {
  //     position: absolute;
  //     right: 10px;
  //     top: calc(50% - 10px);
  //     opacity: 0;
  //     transition: opacity 0.4s ease-in-out;
  //   }

  &:hover {
    background-color: darken($color: #fff, $amount: 10);
    // .deleteNote {
    //   opacity: 1;
    // }
  }
}

.project {
  border-radius: 3px;
  padding: 10px;
  cursor: pointer;
  &:hover {
    background-color: darken($color: #fff, $amount: 10);
  }
}
