@import "../../styles/colors.scss";
@import "../../styles/mixins.scss";

.actions {
  display: flex;
  justify-content: space-between;
  padding: 15px 0;
}
.previewGroupContainer {
  background-color: transparentize($color: #000000, $amount: 0.7);
  :global(.ant-image-preview-close) {
    background-color: red;
  }
}
.previewItemContainer {
  :global(.ant-image-preview-img) {
    cursor: zoom-in;
    background-color: transparentize($color: #fff, $amount: 0.2);
    border-radius: 15px;
  }
}

.image,
.deleteImage {
  padding: 5px;
}
.deleteImage {
  cursor: pointer;
  &:hover {
    transform: scale(1.01);
  }
}

.bigModalWrap {
  @include makeFullSreenModalWrapper();
}

.snapshotImg {
  cursor: pointer;
}

.largeModalWrap {
  @include makelargModalWrapper();
}

.importFileContainer {
  width: 100%;
  padding: 20px;
}

$imgSize: 30%;

.imageWrapper {
  width: $imgSize;
  aspect-ratio: 1;
  // height: $imgSize;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: 1px solid $border;
  border-radius: 5px;
  position: relative;
  margin: 2px;
  background-color: transparentize($color: #000000, $amount: 0.9);
  :global(.ant-image-mask) {
    border-radius: 5px;
    :global(.ant-typography) {
      color: #fff;
    }
  }
}

.importListItem {
  cursor: pointer;
  padding: 3px 0;
  &:hover {
    background-color: transparentize($color: #000000, $amount: 0.95);
  }
}
